<div class="main" ng-init="initView()">
	<div class="form-result" ng-show="result.bool==true">
		<p class="{{result.class}}"><span class="fa fa-{{result.sign}}"></span>&nbsp;<span ng-bind="result.text"></span></p>
	</div>
	<div class="">
		<div class="medium-6 columns col-centered">
			<div class="medium-12 columns">
				<h1>Welcome back {{currentUser.firstname | capitalize}} !</h1>
				<hr>
				<h2>Add new body measures (metric values)</h2>
			</div>
			<form novalidate ng-submit="addMeasures(measures)">
				<input type="hidden" value="{{currentUser.id}}" ng-model="measures.id_user">

				<div class="medium-6 columns"><input type="datetime" placeholder="Date" ng-model="measures.datetime"
													 required></div>
				<div class="medium-6 columns"><input type="number" placeholder="Weight" ng-model="measures.weight"
													 required></div>

				<div class="medium-6 columns"><input type="number" placeholder="Neck" ng-model="measures.neck" required>
				</div>
				<div class="medium-6 columns"><input type="number" placeholder="Chest" ng-model="measures.chest"
													 required></div>

				<div class="medium-6 columns"><input type="number" placeholder="Shoulders" ng-model="measures.shoulders"
													 required></div>
				<div class="medium-6 columns"><input type="number" placeholder="Right arm" ng-model="measures.arm_right"
													 required></div>

				<div class="medium-6 columns"><input type="number" placeholder="Left arm" ng-model="measures.arm_left"
													 required></div>
				<div class="medium-6 columns"><input type="number" placeholder="Right calf"
													 ng-model="measures.calf_right" required></div>

				<div class="medium-6 columns"><input type="number" placeholder="Left calf" ng-model="measures.calf_left"
													 required></div>
				<div class="medium-6 columns"><input type="number" placeholder="Right thigh"
													 ng-model="measures.thigh_right" required></div>

				<div class="medium-6 columns"><input type="number" placeholder="Left thigh"
													 ng-model="measures.thigh_left" required></div>
				<div class="medium-6 columns"><input type="number" placeholder="Waist" ng-model="measures.waist"
													 required></div>

				<div class="medium-6 columns" hidden><input type="file" ng-model="measures.image"></div>

				<div class="medium-12 columns">
					<div class="button-group right">
						<input type="reset" ng-click="reset('measures')" value="Reset" class="button secondary">
						<input type="submit" value="Add measures" class="button success">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>