<div class="main" ng-init="initView()">
<div class="row">
    <div class="medium-12 columns">
        <h1>Welcome back {{currentUser.firstname}} !</h1>
        <hr>
        <h1>Retrieve user</h1>
        <form novalidate ng-submit="getUser(user2get)">
            <input type="text" placeholder="What user id ?" ng-model="user2get.id">
            <input type="reset" ng-click="reset('userList')" value="Reset">
            <input type="submit" value="Get user">
        </form>
        <p ng-show="userList">{{userList.firstname}} {{userList.lastname}}</p>
        <hr>
    </div>
</div>
</div>