@import "settings/variables";
@import "fa/font-awesome";
@import "base/base";
.colored {
	background-color: red;
	color: #fff;
}

.bt-footer {
  background-color: #333;
  min-height:120px;
  color: #fff;
}
