@import "settings/variables";
@import "tools/functions";
@import "tools/mixins";
@import "fa/font-awesome";
@import "base/base";
@import "objects/objects";

// objects
@import "objects/container";

// components
@import "components/header";
@import "components/footer";
@import "components/stats";
@import "components/profile";

.colored {
	background-color: red;
	color: #fff;
}

.bt-footer {
  background-color: #333;
  min-height:120px;
  color: #fff;
}
