@import "settings/variables";
@import "tools/functions";
@import "tools/mixins";
@import "fa/font-awesome";
@import "base/base";
@import "objects/objects";

// objects
@import "objects/container";

// components
@import "components/_header";
@import "components/_footer";
@import "components/_stats";
@import "components/profile";
@import "components/draggable";

.colored {
	background-color: red;
	color: #fff;
}

.bt-footer {
  background-color: #333;
  min-height:120px;
  color: #fff;
}
