p {
  margin: 0;
}
.col-centered {
  display: block;
  float: none;
  margin: 0 auto;
}
.form-result {
  position: fixed;
  top: 0;
  left: 50%;
  min-width: 250px;
  margin-left: -125px;
  padding: 12px 18px;
  background-color: #fff;
  box-shadow: 0 0 3px 1px #D3D3D3;
  z-index: 2;
  & > p {
    text-align: center;
    font-size: 1.1rem;
  }
}
.success {
  color: limegreen;
}
.error {
  color: orangered;
}