<div ng-init="initView()">
	<div ng-controller="LineCtrl">
		<h1 ng-bind="weightTitle"></h1>
		<div class="medium-12 columns">
			<div class="medium-6 columns">
				<canvas id="line" class="chart chart-line" chart-data="weightData"
						chart-labels="labels" chart-series="series" chart-options="options"
						chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="colors"
				</canvas>
			</div>
			<div class="medium-6 columns">
				<canvas id="line" class="chart chart-line" chart-data="weightData"
						chart-labels="labels" chart-series="series" chart-options="options"
						chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="colors"
				</canvas>
			</div>
		</div>
		<div class="row">
			<div class="medium-3 columns"></div>
			<div class="medium-3 columns"></div>
			<div class="medium-3 columns"></div>
			<div class="medium-3 columns"></div>
		</div>
	</div>
</div>